
//COLORS
$color-primary: #9bc9eb99;
$color-primary-light:#ae445a99;
$color-primary-dark:#f39f5a99;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-white: #ffffff;
$color-black: #000;
//FONT

$default-font-size: 1.6rem; 
 

//GRID

$grid-width: 114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;